<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href=" /css/board.css">
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>
  const socket = io();
  socket.emit("joinRoom");
</script>
<script defer src="/scripts/board.js"></script>
</head>
<body>
  <div class = "main">
    <div class = "board">
      <div class = "board_element"><button class = "elementButton" data-value = "1" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "2" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "3" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "4" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "5" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "6" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "7" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "8" > 1 </button> </div>
      <div class = "board_element"><button class = "elementButton" data-value = "9" > 1 </button> </div>
    </div>
  </div>
</body>
</html>