html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.reset {
  height: 50px;
  width: 50px;
  background-color: black;
  border: none;
  cursor: pointer;
  display: none;
}

.reset img {
  height:30px;
  width: 30px;
}

body{
  background-color: black;
}

.turns{
  color: white;
}

.loading{
  z-index: 10;
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.loading p,
code  {
  color: white;
  font-size: 26px;
  margin: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  gap:40px
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  gap: 5px;
}

.board_element {
  width: 60px;
  height: 60px;
  background-color: blue;
  text-align: center;
  display:table-cell;
    vertical-align:middle
}
.elementButton {
  height: inherit;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 26px;
}

.elementButton:active {
  outline: none;
}

.elementButton:hover{
  cursor: pointer;
}
