html,body {
  height: 100%;
}

body{
  background-color: black;
}

.main{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  gap: 5px;
}

.board_element {
  width: 60px;
  height: 60px;
  background-color: blue;
  text-align: center;
  display:table-cell;
    vertical-align:middle
}
.elementButton {
  height: inherit;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 26px;
}

.elementButton:active {
  outline: none;
}

.elementButton:hover{
  cursor: pointer;
}
